@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
  font-family: "Play", sans-serif;
  transition: all ease-in-out 0.2s;
}
#theme-btn{
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 200px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  text-align: center;
}